header {
    width: 100%;
    height: 75px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(20deg, #0db95a 48%, #1dc742 49%);
    color: white;
    font-weight: bold;
}